@use "../../../styles/variables" as *;
@use "../../../styles/typography" as *;

.button {
  padding-inline: 25px;
  border-radius: 24px;
  cursor: pointer;
}

// size

.button-lg {
  height: 48px;
  @extend %heading-m;
}

.button-sm {
  height: 40px;
  font-weight: bold;
  @extend %body-l;
}

// theme

.button-primary {
  background-color: $main-purple;
  color: $white;

  &:hover {
    background-color: $main-purple-hover;
  }
}

.button-secondary {
  color: $main-purple;
  background-color: rgba(99, 95, 199, 10%);

  &:hover {
    background-color: rgba(99, 95, 199, 25%);
  }
}

.button-danger {
  color: $red;
  color: $white;
  background-color: $red;

  &:hover {
    background-color: $red-hover;
  }
}
