@use "../../../styles/typography";
@use "../../../styles/variables" as *;

.textArea {
  padding: 8px 16px;
  border: 1px solid hsla(216, 15%, 57%, 0.25);
  border-radius: 4px;
  background-color: $white;
  width: 100%;
  resize: none;
  height: 114px;

  @extend %body-l;

  &::placeholder {
    color: hsla(0, 0, 0, 50%);
  }

  &:focus {
    border: 1px solid $main-purple;
  }

  &.error {
    border: 1px solid $red;
  }
}
