@use "../../styles/variables" as *;
@use "../../styles/typography";

.container {
  padding: 24px;
  display: grid;
  grid-auto-columns: 280px;
  grid-auto-flow: column;
  gap: 24px;
  min-height: 100%;
}

.columnHeader {
  display: flex;
  letter-spacing: 2.4px;
  gap: 12px;
  align-items: center;
  color: $medium-grey;

  @extend %heading-s;
}
