@use "../../styles/typography";
@use "../../styles/variables" as *;

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 96px 1fr;
}

.drawer {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.header {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  border: 1px;
  display: flex;
  align-items: center;
  padding: 20px 24px;
  border-bottom: 0.1px solid $lines-light;
}

.heading {
  @extend %heading-xl;
  flex: 1;
}

.menu {
  margin-left: 24px;
}

.main {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  background-color: #f4f7fd;
}
