@use "../../styles/variables" as *;
@use "../../styles/typography";

%margin-shared {
  margin-left: 34px;
  margin-top: 32px;
}

.drawer {
  width: 100%;
  border-right: $border;
}

.logo {
  display: block;
  @extend %margin-shared;
}

.heading {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2.4px;
  color: $medium-grey;

  @extend %margin-shared;
}

.nav {
  margin-top: 20px;
  width: 100%;
  padding-right: 23px;
}

.link {
  display: flex;
  align-items: center;
  padding-left: 34px;
  gap: 16px;
  background-color: $main-purple;
  width: 100%;
  height: 48px;
  border-radius: 0px 100px 100px 0px;
  text-decoration: none;
  color: $white;

  @extend %heading-m;
}
