@use "../../styles/variables" as *;
@use "../../styles/typography";

.container {
  padding: 32px;
  min-width: 480px;
  border-radius: 6px;
  background-color: $white;
}

.heading {
  @extend %heading-l;
}

.label {
  display: block;
  margin-top: 24px;
}

.textField {
  display: block;
  margin-top: 8px;
}

.subTask {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

.addTaskButton {
  margin-top: 12px;
}

.status {
  display: block;
  margin-top: 24px;
}

.dropdown {
  margin-top: 8px;
}
