:root {
  --purple: #635fc7;
  --purple-lighter: #a8a4ff;
  --black: #000112;
  --gray: #20212c;
  --gray-lighter: #2b2c37;
  --gray-lightest: #3e3f4e;
  --regent-gray: #828fa3;
  --regent-gray-lighter: #e4ebfa;
  --regent-gray-lightest: #f4f7fd;
  --white: #fff;
  -red: #ea5555;
  -red-lighter: #ff9898;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
